@import "./libs.scss";
@import "fonts";
@import "./custom.scss";
@import "./menu.scss";
$f1: "Circe";

//////////////////////////////////////////////
svg {
	max-width: 100%;
}

a,
button {
	transition: all 0.2s;
	color: inherit;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
	flex-shrink: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		display: inline-block;
	}
}

.slick-slide,
.slick-slide a {
	outline: none;
}

.slick-slider {
	user-select: auto;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}

input,
textarea {
	outline: none;
	box-shadow: none !important;

	@include placeholder {
		//color: #000;
		width: 100%;
		height: 100%;
		overflow: visible;
		opacity: 1;
		//		white-space: nowrap;
		//		text-overflow: ellipsis;
		//		overflow: hidden;
	}

	&:focus {
		@include placeholder {
			color: transparent !important;
		}
	}
}

input:focus {
	box-shadow: none;
}

textarea {
	-ms-overflow-style: none;
}

b,
strong {
	//	font-weight: normal;
	//	font-family: $f2;
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	//	font-weight: normal;
	//	font-family: $f2;
	font-weight: 700;
}

//
//.vendor-ie {}
////.vendor-webkit {}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: .3;
}

.mfp-bg {
	background: #000;
}

.mfp-container {
	position: fixed;
}

///////////////////////////////////////////////////////////////////////////////////////

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	position: relative;
	min-width: 320px;
	font-family: $f1, sans-serif;
	line-height: 1.5;
	color: #FFFFFF;
	overflow-x: hidden;


}

.wrapper-all {
	// height: 100vh;
	// overflow: auto;
	background: linear-gradient(180deg, #031F39 0%, #001B39 6.06%, #011F3F 13.99%, #032C4D 19.4%, #043F6B 34.38%, #033257 49.35%, #413879 63.66%, #6D4F79 87.26%, #FFDDC2 100%);

}

.sbtn {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	border: 1px solid #58DCE3;
	border-radius: 50px;
	font: 16px/1.2 "Circe";
	text-align: center;
	color: #FFFFFF;
	background: transparent;
	box-shadow: 0px 0px 5px #58DCE3;

	&:hover {
		color: #03203B;
		background: #58DCE3;
		box-shadow: 0px 0px 20px #58DCE3;
	}

	&:active {
		box-shadow: none;
	}
}

.sbtn_inv {
	color: #041F31;
	background: #58DCE3;
	box-shadow: 0px 0px 10px #58DCE3;

	&:hover {
		color: #FFFFFF;
		background: transparent;
		box-shadow: 0px 0px 15px #58DCE3;
	}

	&:active {
		box-shadow: 0px 0px 5px #58DCE3;
	}
}

.sbtn_white {
	border-color: #fff;
	color: #3D0043;
	background: #fff;
	box-shadow: 0px 0px 25px #FFFFFF;

	&:hover {
		color: #FFFFFF;
		background: transparent;
		box-shadow: 0px 0px 15px #FFFFFF;
	}

	&:active {
		box-shadow: 0px 0px 5px #FFFFFF;
	}
}

.sblock {
	position: relative;
	display: flex;
	align-items: center;
}

.stitle {
	margin: 0 auto 1em;
	font: bold 45px/1.2 $f1;
}

.stext {
	font: 16px/1.5 $f1;
	color: rgba(255, 255, 255, 0.8);

	&>* {
		margin-bottom: 1.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		li {
			position: relative;
			margin: 0 0 0.9em;
			padding: 0 0 0 1em;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0.75em;
				transform: translate(0, -50%);
				width: 0.375em;
				height: 0.375em;
				border-radius: 50%;
				background: #58DCE3;
				box-shadow: 0px 0px 10px #58DCE3;
			}
		}

		&:not(:first-child) {
			margin-top: -0.6875em;
		}
	}
}

#stars {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1443px;
	}

	.header .container {
		max-width: 1770px;
	}
}

.header__box {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 30px 0 0;
}

.header__logo {
	display: inline-block;
	margin: 0 0 0 17px;
	z-index: 1;
}

.header__menu-btn {
	position: relative;
	display: inline-block;
	flex-shrink: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
	z-index: 1;

	// &:before,
	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	left: 50%;
	// 	top: 50%;
	// 	transform: translate(-50%, -50%);
	// 	width: 30px;
	// 	height: 1px;
	// 	border-radius: 1px;
	// 	background: rgba(255, 255, 255, 0.8);
	// 	transition: all 0.3s;
	// }

	// &:before {
	// 	margin: 5px 0 0 0;
	// }

	// &:after {
	// 	margin: -5px 0 0 0;
	// }

	// &:hover {
	// 	box-shadow: none;

	// 	&:before,
	// 	&:after {
	// 		background: #FFFFFF;
	// 		box-shadow: 0px 0px 4px #FFFFFF;
	// 	}
	// }
}

.header__menu-btn_active {

	// &:before,
	// &:after {
	// 	margin: 0 !important;
	// }

	// &:before {
	// 	transform: translate(-50%, -50%) rotate(45deg);
	// }

	// &:after {
	// 	transform: translate(-50%, -50%) rotate(-45deg);
	// }
}

.switcher {
	position: fixed;
	right: 5.9vw;
	top: 50%;
	transform: translate(0, -50%);
}

.switcher__item {
	position: relative;
	display: block;
	margin: 0 0 20px;
	width: 2px;
	height: 50px;
	border-radius: 1px;
	background: rgba(255, 255, 255, 0.3);
	transition: all 0.2s;
	cursor: pointer;

	&:last-child {
		margin: 0;
	}

	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 30px;
		height: 60px;
	}

	&:hover {
		background: #FFFFFF;
		box-shadow: 0px 0px 14px #FFFFFF;
	}

	&:active {
		background: #FFFFFF;
		box-shadow: 0px 0px 4px #FFFFFF;
	}
}

.switcher__item_hover {
	background: #FFFFFF;
	box-shadow: 0px 0px 14px #FFFFFF;
}

.switcher__item_active {
	background: #FFFFFF;
	box-shadow: 0px 0px 4px #FFFFFF;
}

.socials {
	position: fixed;
	left: 4.7%;
	bottom: 8%;
	z-index: 1;

	li {
		margin: 0 0 6px;

		&:last-child {
			margin: 0;
		}
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		opacity: 0.8;

		&:hover {
			opacity: 1;
			filter: drop-shadow(0px 0px 4px #FFFFFF);
		}
	}
}

.header__menu {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 23.7%;
	height: 100%;
	text-align: right;
	background: rgba(0, 0, 0, 0.4);

	.socials {
		display: none;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		right: 20px;
		bottom: 10px;

		li {
			margin: 0;
		}
	}
}

.header__links {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	padding: 0 5.9vw 0 0;

	li {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {}
}

.header__link {
	position: relative;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 5px 21px;
	font: 18px/1.4 $f1;
	color: #FFFFFF;

	&:before {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 2px;
		height: 100%;
		border-radius: 1px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 0.2s;
	}

	&:hover {
		background: linear-gradient(269.86deg, rgba(255, 255, 255, 0.1) 0.11%, rgba(255, 255, 255, 0) 99.87%);

		&:before {
			background: #FFFFFF;
			box-shadow: 0px 0px 14px #FFFFFF;
		}
	}

	&:active {
		&:before {
			background: #FFFFFF;
			box-shadow: 0px 0px 4px #FFFFFF;
		}
	}
}

.header__link_active {
	&:before {
		background: #FFFFFF;
		box-shadow: 0px 0px 4px #FFFFFF;
	}
}

.bottom-btn {
	position: fixed;
	bottom: 4%;
	width: 60px;
	height: 60px;
	border: 1px solid transparent;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
	right: 5.9vw;
	transform: translateX(50%);
	display: flex;
	align-items: center;
	justify-content: center;

	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 44px;
		height: 44px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 50%;
		transition: all 0.2s;
	}

	svg {
		width: 18px;
		transition: .1s;
	}

	&:hover {
		border: 1px solid #FFFFFF;
		box-shadow: 0px 0px 12px #FFFFFF;

		&:before {
			opacity: 0;
		}
	}

	&:active {
		box-shadow: 0px 0px 4px #FFFFFF;
	}
	&.top {
		svg {
			transform: rotate(180deg);
		}
	}
}

.s1 {
	//	height: 1100px;
	height: 100vh;
}

.s1__box {}

.s1__title {
	position: relative;
	display: inline-block;
	//	margin: 0 0 34px;
	margin: 0 0 0.79em;
	font: bold 43px/1.2 $f1;
	white-space: nowrap;
	text-align: center;
	text-transform: uppercase;

	b {
		display: block;
		font: 800 2.98em/0.8 $f1;
		color: rgba(255, 255, 255, 0.17);
	}
}

.s1__subtitle {
	margin: 0 0 29px;
	max-width: 390px;
	font: bold 18px/1.5 $f1;
	color: rgba(255, 255, 255, 0.8);
}

.s1__btn {
	width: 210px;
	height: 48px;
}


.s2 {
	// height: 700px;
}

.s2__box {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	&>* {
		&:nth-child(1) {
			width: 56%;
		}

		&:nth-child(2) {
			width: 44%;
			display: flex;
			flex-direction: column;
		}
	}
}

.s2__left {
	max-width: 541px;
}

.s2-body {
	position: relative;
	margin: 0 auto 48px;
	max-width: 399px;
}

.s2-body__images {
	position: relative;
	margin-bottom: 20px;

	&>* {
		width: 100%;
		height: auto;
	}

}

.s2-body__image {
	// opacity: 0;
	// visibility: hidden;
	display: none;
	text-align: center;

	&.active {
		opacity: 1;
		display: block;
	}
}

.s2-body__parts {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	li {
		position: absolute;

		&:nth-child(1) {
			width: 12.5%;
			left: 50%;
			top: 24%;
			transform: translate(-50%);
		}

		&>* {
			width: 100%;
			height: auto;
		}
	}
}

.s2__organs {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 478px;
}

.s2-organ {
	width: 25%;
	text-align: center;
	// cursor: pointer;
	user-select: none;
	position: relative;
	transition: .3s;

	&:hover {
		.s2-organ__text {
			color: #58DCE3;
		}

		.s2-organ__img {
			opacity: 1;
		}
	}
}

.s2-organ_active {
	.s2-organ__text {
		color: #58DCE3;
	}

	.s2-organ__img {
		opacity: 1;
	}
}

.s2-organ__img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 6px;
	height: 50px;
	opacity: 0.3;
	transition: all 0.2s;

	&>* {
		max-width: 100%;
		max-height: 100%;
	}
}

.s2-organ__text {
	display: block;
	margin: 0 0 0;
	font: bold 16px/1.4 $f1;
	color: rgba(88, 220, 227, 0.2);
	transition: all 0.2s;
}

.s2__title {
	margin-left: 0;
	margin-right: 0;
	text-align: left;
}

.s2__slider {
	position: relative;
	flex: 1;

}

.slider-arrows {
	display: flex;
	justify-content: flex-start;
}

.slider-arrow {
	position: relative;
	left: 0;
	bottom: 0;
	width: 60px;
	height: 60px;
	padding: 0;
	border: 1px solid transparent;
	border-radius: 50%;
	font-size: 0;
	background: rgba(255, 255, 255, 0.05);
	transition: all 0.2s;
	z-index: 1;

	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 44px;
		height: 44px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 50%;
		transition: all 0.2s;
	}

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		border-left-width: 0;
		border-top-width: 0;
		border-bottom-width: 1px;
		border-right-width: 1px;
		border-style: solid;
		border-color: #fff;
		width: 13px;
		height: 13px;
	}

	&:hover {
		border: 1px solid #FFFFFF;
		box-shadow: 0px 0px 12px #FFFFFF;

		&:before {
			opacity: 0;
		}

		&:after {}
	}

	&:active {
		box-shadow: 0px 0px 4px #FFFFFF;
	}
}

.slider-arrow-prev {
	margin: 0 0 0 0;

	&:after {
		content: "";

		margin: 0 0 0 3px;
		transform: translate(-50%, -50%) rotate(135deg);
	}
}

.slider-arrow-next {
	margin: 0 0 0 10px;

	&:after {
		content: "";
		margin: 0 0 0 -3px;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.s2__slider {
	display: flex;
	flex-direction: column;
}

.s2__items {
	padding: 0 0 40px;
	position: relative;
	// margin-bottom: 20px;

	flex: 1;
}

.s2__item {
	display: none;

	&.active {
		display: block;
	}
}

.s2__text {
	margin: 0 0 38px;
	max-width: 560px;
}

.s2-author {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	padding: 0 10px 0 109px;
	width: 307px;
	height: 85px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 170px;
}

.s2-author__img {
	position: absolute;
	left: 0;
	top: 0;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.s2-author__text-1 {
	margin: 0 0 2px;
	width: 100%;
	font: 16px/1.5 $f1;
	color: #58DCE3;
}

.s2-author__text-2 {
	margin: 0 0 0;
	width: 100%;
	font: 12px/1.5 $f1;
	color: rgba(255, 255, 255, 0.8);
}

.galaxy {
	position: relative;
	z-index: -1;
	margin: -34.5% 0 -20.5%;
	overflow: hidden;

	img {
		width: 100%;
		max-width: none;
	}

}


.s3 {
	height: 1100px;
	margin: 0 0 0 0;

	.container {
		position: relative;
	}
}

.s3__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

	img {
		max-width: none;
		position: absolute;

		&:nth-child(1) {
			width: 136.7vw;
			left: 0;
			bottom: 0;
			transform: translate(-42%, 40.5%);
			opacity: 0.6;
		}

		&:nth-child(2) {
			width: 60vw;
			height: auto;
			right: 0;
			top: 0;
			transform: translate(10%, -15.9%);
			opacity: 0.6;
		}
	}
}

.s3__box {
	max-width: 690px;
	margin: 0 auto;
	text-align: center;
}

.s3__title {}

.s3__text {
	margin: 0 0 0;
}

.s4 {
	// height: 1106px;
	// padding-bottom: 300px;
	display: block;
}

.s4__box {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	&>* {
		&:nth-child(1) {
			width: 56%;
		}

		&:nth-child(2) {
			width: 44%;
		}
	}
}

.s4__images {}

.s4__slider {}

.s4__items {}

.s4__clouds {
	overflow: hidden;
	width: 100%;
	z-index: 10;
	position: relative;

}

.s4__clouds-items {
	transform: translateX(0);
	display: flex;
	animation: clouds 22s linear infinite;

	img {
		// margin-left: -150px;
	}

}

@keyframes clouds {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%)
	}
}

.s4__img {
	margin: 4px 6% 0;
	max-width: 640px;
	display: none;

	&.active {
		display: block;
	}

	img {
		width: 100%;
	}
}

.s4__items {
	margin: 0 -10px;
	padding: 0 0 50px;
}

.s4__item {
	padding: 0 10px 20px;
	display: none;

	&.active {
		display: block;
	}
}

.s4__title {}

.s4__text {
	margin: 0 0 0;
	max-width: 550px;
}

.s4__btns {
	display: flex;
	flex-wrap: wrap;
	margin: 47px 0 0;

	li:nth-child(1) {
		margin-right: 30px;
	}
}

.s4__btn-1 {
	width: 208px;
	height: 48px;
}

.s4__btn-2 {
	width: 191px;
	height: 48px;
}

.s5 {
	// height: 1172px;
	margin-top: -200px;
	padding-top: 150px;
}

.s5__box {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	&>* {
		position: relative;

		&:nth-child(1) {
			width: 38%;
			z-index: 1;
		}

		&:nth-child(2) {
			display: flex;
			justify-content: flex-end;
			position: relative;
			width: 62%;
		}
	}
}

.s5__title {
	margin: 0 0 1.22em;
	line-height: 1;
}

.s5__text {
	margin: 0 0 60px;
}

.s5-timer {}

.s5-timer__text {
	margin: 0 0 19px;
	font: bold 16px/1.5 $f1;
}

.s5-timer__values {
	display: flex;
	align-items: center;

	&>* {
		flex-shrink: 0;
		margin-right: 18px;

		&:first-child {
			margin-right: 30px;
		}

		&:last-child {
			margin: 0;
		}
	}
}

.s5-timer__value {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	width: 90px;
	height: 90px;
	text-align: center;
	//	background-size: contain !important;
}

.s5-timer__value-bg {
	//	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	&>* {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: none;
		width: 100%;
		height: auto;
	}
}

.s5-timer__value_1 {
	width: 129px;
	height: 129px;

	//	background: url("../img/5/1.svg") no-repeat center center;
	.s5-timer__value-bg {
		&>* {
			width: 117%;
			margin: 0 0 0 -6px;
		}
	}

	.s5-timer__value-num {
		font-size: 44px;
	}

	.s5-timer__value-text {
		font-size: 18px;
	}

}

.s5-timer__value_2 {
	//	background: url("../img/5/2.svg") no-repeat center center;
}

.s5-timer__value_3 {
	//	background: url("../img/5/3.svg") no-repeat center center;
}

.s5-timer__value-num {
	position: relative;
	width: 100%;
	font: bold 25px/1 $f1;
}

.s5-timer__value-text {
	position: relative;
	width: 100%;
	font: 14px/1 $f1;
	color: rgba(255, 255, 255, 0.6);
}

.s5-timer__value-bg {
	svg {

		* {
			transition: .1s;
		}

	}
}

.s5__img {
	position: relative;
	max-width: 756px;
	transform: translate(2.1%, -6.1%);

	&>img {
		position: relative;
		display: inline-block;
		width: 100%;
	}
}

.s5__clouds {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;

	img {
		position: absolute;
		right: 0;
		top: 0;
		max-width: none;

		&:nth-child(1) {
			// transform: translate(33%, -34%);
			left: -50%;
			top: -34%;
		}



		&:nth-child(2) {
			// transform: translate(4%, 61%);
			left: -4%;
			top: 40%;
		}

		&:nth-child(3) {
			// transform: translate(17%, 18%);
			left: -17%;
			top: 15%;
		}

		&:nth-child(4) {
			// transform: translate(80%, 119%);
			left: 70%;
			top: 60%;
		}

		&:nth-child(5) {
			// transform: translate(-0.5%, 107%);
			top: 90%;
			left: -30%;
		}
	}
}

.s5__img-mob {
	display: none;
	position: relative;
	margin: 68px auto 112px;
	width: 266px;
	height: 120px;

	img {
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
		max-width: none;

		&:nth-child(1) {
			transform: translate(-23%, -41%);
		}

		&:nth-child(2) {
			transform: translate(-11%, -34%);
		}

		&:nth-child(3) {
			transform: translate(-17%, 10%);
		}

		&:nth-child(4) {}

		&:nth-child(5) {
			transform: translate(70%, 57%);
		}

		&:nth-child(6) {
			transform: translate(-30%, 38%);
		}
	}
}

.s5__clouds-bg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: -1% 0 0;

	img {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%);
		max-width: none;
	}
}

@media (min-width: 1930px) {
	.s5__clouds-bg img {
		width: 102.1%;
	}
}

.s6 {
	// height: 1006px;
	display: block;
	padding-top: 350px;
	// background-size: 100% 100%;
	position: relative;

	&::before {
		content: "";
		background: url(../img/6/bg.jpg) center center no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: -1;

	}
}

.s6__clouds {
	overflow: hidden;
	width: 100%;
	margin-top: 100px;
	position: relative;
	z-index: 10;
}

.s6__clouds-items {
	display: flex;
	transform: translateX(0%);
	animation: s6_clouds 22s linear infinite;

	img {
		width: calc(100% / 3);
		flex-shrink: 0;
		position: relative;
		max-width: none;


		&.clouds_all {
			width: 150%;

			@media screen and (max-width: 800px) {
				display: none;
			}
		}

		&.clouds_all_mob {
			display: none;
			width: 150%;

			@media screen and (max-width: 800px) {
				display: block;
			}
		}
	}
}

@keyframes s6_clouds {
	0% {
		transform: translateX(0%);

	}

	100% {
		transform: translateX(-150%);

	}
}

.s6__box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&>* {
		&:nth-child(1) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 72.3%;
			margin: 0 0 17px;
			padding: 0 7.7% 0 0;
		}

		&:nth-child(2) {
			width: 27.7%;
		}
	}
}

.s6__left {}

.s6__title {}

.s6__text {
	margin: 0 0 33px;
	max-width: 400px;
}

.s6__conditions {
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	font: 14px/1.2 $f1;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: rgba(255, 255, 255, 0.5);
		box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
		transition: all 0.3s;
	}

	&:hover {
		&:before {
			box-shadow: 0px 0px 4px #FFFFFF;
		}
	}
}

.s6__steps {
	margin: 5px 0 0;
	max-width: 330px;

	&>* {
		margin: 0 0 10px;
	}

	li {
		margin: 0 0 71px;

		&:last-child {
			margin: 0;
		}
	}
}

.s6-step {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.s6-step__num {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65px;
	height: 62px;
	font: 24px/1.5 $f1;

	svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: none;
		width: 112.3%;
		height: auto;
	}
}

.s6-step__text {
	margin: 0;
	padding: 0 0 0 25px;
	width: calc(100% - 65px);
	font: 20px/1.5 $f1;

	a {
		display: inline;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.sform {
	position: relative;
	margin: 0 auto;
	padding: 59px 53px;
	max-width: 408px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(15px);

	input:not([type="checkbox"]) {
		display: block;
		padding: 0 12px;
		width: 100%;
		height: 45px;
		border: 1px solid rgba(255, 255, 255, 0.15);
		border-radius: 6px;
		font: 16px/1.2 $f1;
		color: #FFFFFF;
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);

		@include placeholder {
			color: #FFFFFF;
		}

		&:focus {
			border: 1px solid rgba(255, 255, 255, 0.45);
			box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.87);
			background: transparent;

			@include placeholder {
				color: rgba(255, 255, 255, 0.3) !important;
			}
		}
	}

	button[type="submit"] {
		margin: 47px auto 0;
		width: 188px;
		height: 48px;
	}
}

.s6-form {}

.invite-form {}

.sform__heading {
	margin: 0 -20px 56px;
	font: 20px/1.2 $f1;
	text-align: center;
}

.sform__close,
.mfp-close {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 42px;
	height: 42px;
	font-size: 0;

	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 21px;
		height: 1px;
		border-radius: 1px;
		background: rgba(255, 255, 255, 0.8);
	}

	&:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.sform__row {
	position: relative;
	margin: 0 0 20px;

	&:last-child {
		margin: 0;
	}
}

.sform__cb {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0 0 0 36px;
	max-width: 230px;
	font-size: 0;
	cursor: pointer;

	&>span:nth-child(2) {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 22px;
		height: 22px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 6px;
		background: transparent;
		box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
	}

	&>span:nth-child(3) {
		font: 13px/1.5 $f1;
		color: rgba(255, 255, 255, 0.5);
		user-select: none;

		a {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);

			&:hover {
				border-color: transparent;
			}
		}

	}

	input[type="checkbox"] {
		width: 0;
		height: 0;
		opacity: 0;

		&:checked+span:after {
			content: url("../img/6/checked.svg");
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			line-height: 0;
		}
	}
}


.s7 {
	position: relative;
	// height: 1630px;
	display: block;
	padding-top: 0;
	// padding-bottom: 0px;
	background: url(../img/7/bg.jpg) center center no-repeat;
	background-size: 100% 100%;

	.container {
		position: relative;
	}
}

.s7__clouds {
	position: relative;
	z-index: 10;
}

.s7__clouds {
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 10;
}

.s7__clouds-items {
	display: flex;
	transform: translateX(0%);
	animation: s7_clouds 22s linear infinite;

	img {
		width: calc(100% / 3);
		flex-shrink: 0;
		position: relative;
		max-width: none;


		&.clouds_all {
			width: 150%;

			@media screen and (max-width: 800px) {
				display: none;
			}
		}

		&.clouds_all_mob {
			display: none;
			width: 150%;

			@media screen and (max-width: 800px) {
				display: block;
			}
		}
	}
}

@keyframes s7_clouds {
	0% {
		transform: translateX(0%);

	}

	100% {
		transform: translateX(-150%);

	}
}

.s7__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&>* {
		&:nth-child(1) {
			width: 42.27%;
		}

		&:nth-child(2) {
			width: 43.3%;
		}
	}
}

.s7-video {
	max-width: 597px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
}

.s7-video__inner {
	position: relative;
	padding: 118.7% 0 0;
	background: linear-gradient(180deg, rgba(20, 0, 43, 0.4) 0%, rgba(38, 0, 53, 0.4) 100%);
	border-radius: 10px;
	overflow: hidden;
}

.s7-video__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("../img/7/img.jpg") no-repeat center center;
	background-size: cover;
}

.s7-video__btn {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 82px;
	height: 82px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.2);

	&:before,
	&:after {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		line-height: 0;
		transition: all 0.2s;
	}

	&:before {
		content: "";
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.8);
	}

	&:after {
		content: url("../img/7/play.svg");
		margin: 0 0 0 3px;
	}

	&:hover {
		&:before {
			box-shadow: 0px 0px 4px #FFFFFF;
		}

		&:after {
			filter: drop-shadow(0px 0px 4px #FFFFFF);
		}
	}
}

.s7__right {}

.s7__title {
	line-height: 1.2;
}

.s7__list {
	margin: 0 0 42px;
	padding: 24px 35px;
	max-width: 471px;
	border-radius: 10px;
	font: 16px/2.45 $f1;
	background: rgba(255, 255, 255, 0.1);

	li {
		position: relative;
		padding: 0 0 0 1em;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 1.225em;
			transform: translate(0, -50%);
			width: 0.375em;
			height: 0.375em;
			border-radius: 50%;
			background: #FFFFFF;
			box-shadow: 0px 0px 10px #FFFFFF;
		}
	}
}

.s7__text {
	margin: 0 0 42px;
}

.s7__btn {
	width: 239px;
	height: 48px;
}

.s8 {
	overflow: hidden;
	position: relative;
	padding: 0 0 190px;
	background: url(../img//8/bg.jpg) center center no-repeat;
	background-size: 100% 100%;

	.container {
		position: relative;
	}
}

.s8__clouds {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100vw;
	z-index: 0;

	img {
		position: absolute;
		max-width: none;
		left: 0;
		bottom: 0;

		&:nth-child(1) {
			transform: translate(-15.4%, 56%);
			width: 146.1979%;
		}

		&:nth-child(2) {
			display: none;
			left: 50%;
			transform: translate(-50%, 50%);
			margin: 0 0 0 0;
		}
	}
}

.s8__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&>* {
		&:nth-child(1) {
			width: 444px;
		}

		&:nth-child(2) {
			width: 680px;
		}
	}
}

.s8__left {
	margin: 71px 0 0;
}

.s8__title {
	margin: 0 0 1.23em;
}

.s8__text {
	margin: 0 0 40px;
	max-width: 400px;
}

.s8__btn {
	width: 444px;
	height: 48px;
}

.s8__btn-mob {
	display: none;
	margin: 0 auto;
	width: 254px;
	height: 48px;
}

.s8-map {
	margin: 0 auto;
	max-width: 680px;
}

.s8-map__top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 40px 0;
}

.s8-map__select {
	position: relative;
	display: block;
	padding: 0 40px 0 15px;
	width: 44.16%;
	height: 48px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	outline: 0;
	font: 16px/1.5 $f1;
	color: #FFFFFF;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
	cursor: pointer;
	appearance: none;

	option {
		color: #000;
	}
}

.s8-map__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 46%;

	li {}

	a {
		position: relative;
		display: inline-block;
		padding: 0.4em 0.8em;
		font: 14px/1.5 $f1;
		text-align: center;
		color: #FFFFFF;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: rgba(255, 255, 255, 0.5);
			box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
			transition: all 0.3s;
		}

		&:hover {
			&:before {
				// opacity: 0;
				box-shadow: 0px 0px 4px #FFFFFF;
			}
		}
	}
}

.s8-map__main {
	position: relative;
	padding: 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
}

.s8-map__main-inner {
	position: relative;
	padding: 68.5% 0 0;
	border-radius: 10px;
	background: url("../img/8/map.jpg") no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

.s8-map__list {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 37px 50px;
	overflow: auto;

	&>* {
		margin-bottom: 8px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);

		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {}

	&::-webkit-scrollbar-thumb {
		width: 7px;
		height: 37px;
		border-radius: 5px;
		background: #FFFFFF;
		box-shadow: 0px 0px 4px #FFFFFF;
	}
}

.s8-map__main_list {
	.s8-map__main-inner {
		visibility: hidden;
	}

	.s8-map__list {
		display: block;
	}
}

.s8-loc {
	padding: 14px 0 14px;
}

.s8-loc__top {
	margin: 0 0 8px;
}

.s8-loc__title {
	margin: 0 0 0;
	font: bold 16px/1.2 $f1;
}

.s8-loc__type {
	margin: 0 0 0;
	font: 12px/1.2 $f1;
	color: rgba(255, 255, 255, 0.6);
}

.s8-loc__text {
	margin: 0 0 0;
	font: 14px/1.45 $f1;
}


.footer {
	padding: 13px 0;
	background: linear-gradient(0deg, #AF8B91, #AF8B91), #AF909A;
}

.footer__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font: 12px/1.5 $f1;

	li {
		margin: 0 2.8em;
	}

	a {
		position: relative;
		display: inline-block;
		padding: 0.5em 1em;
		text-align: center;
		color: #FFFFFF;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: rgba(255, 255, 255, 0.5);
			box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.45);
			transition: all 0.1s;
		}

		&:hover {
			&:before {
				box-shadow: 0px 0px 4px #FFFFFF;
			}
		}
	}
}

#popup-1 {
	margin: 0 auto;
	max-width: 408px;
}

#popup-thank {
	margin: 0 auto;
	max-width: 408px;

	.mfp-close {
		display: none;
	}
}

.popup-thank {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	padding: 0 10px;
	max-width: 428px;
	height: 404px;
	font: 20px/1.5 $f1;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(15px);
}

.popup-thank__img {
	margin: 0 auto 12px;
	width: 85px;
	height: 85px;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	background: url("../img/7/thank.svg") no-repeat center center;
	box-shadow: 0px 0px 4px #FFFFFF;
}

.popup-thank__text-1 {
	width: 100%;
	margin: 0 auto 20px;
}

.popup-thank__text-2 {
	width: 100%;
	margin: 0 auto 0;
}

///////////////////////////////////////////////////////////////////////////////////////

@import "responsive";